################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GIF Maker Solution/.vs/GIF Maker Solution/v15/Browse.VC.opendb
